
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15rem;
  background-color: #192a56 ;


}
h1{
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
article {
  width: 40%;
  word-wrap: break-word;
  margin: 0 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

img {
  width: 60%;
}
.des{
  background-color: #192a56;
  line-height: 1.8rem;
  font-size: 1.3rem;
  color: #fff;
  padding: 4rem;
  text-align: justify;
}
