input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }

#container {
    margin: 2rem 15rem;
    font-size: var(--text-mlg);
}
.form {

    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 1rem 15rem;

}
.form select {
    display: flex;
    justify-self: end;
    font-size: var(--tex-md);
}
.selectionIcon {
    width: 18rem;
    padding: 1rem;
    border-radius: .5rem;
    outline: none;
    border: 3px solid #192a56;

}
.perosnInfo{
    display: flex;
    justify-content: space-between;

}
.perosnInfo input{
    width: 18rem;
    height: 3.5rem;
    padding: 1rem;
    outline: none;
    border-radius: .5rem;
    border:3px solid #192a56;
    font-size: var(--tex-md);
}
.perosnInfo label{

    padding: 1rem 0;
}
.textArea{
    display: flex;
    justify-self: center;
    margin: 2rem 0 2rem 0;
    width: 100%;
    min-height: 8rem;
    height: auto;
    resize: none;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: var(--text-md);
    border: 3px solid #192a56;
    outline: none;
    font-family: inherit;
}

.button {
    display: flex;
    margin-top: 2rem;
    font-weight: bold;
    color: #fff;
    padding: 1rem 2rem;
    background-color: #192a56;
    border-radius: .5rem;
    font-size: var(--text-md);
}
.button:hover{
    opacity: .8;
}
